@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.modal-90w {
  max-width: 90%;
  width: 90%;
}

.modal-center {
  display: flex !important;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-center::before {
  content: "";
  height: calc(100vh - 500px);
  display: block;
}

.modal-90w .modal-content {
  max-height: 500px;
  overflow: hidden;
}

.modal-90w .modal-dialog {
  max-width: none;
  margin: auto;
}
